<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show", book %> |
      <%= link_to "Edit", edit_book_path(book) %> |
      <%= link_to "Delete…", delete_book_path(book) %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>